{{#each this}}
<h2 style="color:aliceblue; text-shadow: 2px 2px 0 #111111;">{{name}}</h2>
<div style="display: flex;justify-content: centleer; color:aliceblue">
  <div style=" margin-right: 50px; font-weight: 500; font-size: 20px; text-shadow: 2px 2px 0 #111111;">
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Langviges:</p>
    <ul style=" list-style:none">
      {{#each languages}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
  <img src="{{flag}}" alt="{{name}}" style="width: 300px">
</div>
{{/each}}